{% extends 'OrdrFrontBundle::layout.html.twig' %}
{% block above %}
<div id="ordr-meta">
  <h2>{{ ordrMeta.name }}</h2>
</div>
<div class="clearfix" id="ordr">
  <div class="columns" id="next-ordr">
    {{ ordrMeta.nextOrdr|format_date }}<br/>
    {{ ordrMeta.nextOrdr|format_time }}
  </div>
  <div class="columns" id="sum">
    {{ now|format_date }}<br/>
    {{ now|format_time }}
  </div>
</div>
{% if ordrMeta.adminToken == adminToken %}
<div id="admin-view">
  <div id="admin-msg">
    {{ 'admin link (nicht teilen)'|trans }}<br/>
    <a href="{{ url('ordrmeta_show', {'token': ordrMeta.token, 'admin': ordrMeta.adminToken }) }}">http://ordr.io/{{ ordrMeta.token }}?admin={{ ordrMeta.adminToken }}</a>
  </div>
</div>
{% endif %}
{% endblock %}
{% block body %}
<div class="clearfix" id="create-ordr">
  <div id="ordrs">
    {% if ownOrdrs|length > 0 %}
    <h4>Deine Bestellungen:</h4>
    <ul class="ordr-list">
      {% for ordr in ownOrdrs %}
      <li>
        <form id="user-delete-form"
              action="{{ path('ordr_user_delete', {'token': ordrMeta.token, 'id': ordr.id }) }}"
              method="post" {{ form_enctype(form) }}>
          <button class="button radius red small"
                  name="delete-ordr"
                  id="delete-ordr" type="submit"
                  value="delete">
            {{ 'x' }}
          </button>
          {% if ordrMeta.adminToken == adminToken %}
          <input type="hidden" name="admin" value="{{ ordrMeta.adminToken }}">
          {% endif %}
        </form>

        <strong>{{ ordr.username }}</strong> <span class="stamp">{{ ordr.createdAt|format_date }}</span><br/>
        bestellt {{ ordr.amount|number_format_decimal }} mal:<br/>
        {{ ordr.extra }} <span class="extra">({{ ordr.price|number_format_currency('EUR') }})</span><br/>
        <strong>für <span class="price">{{ (ordr.price * ordr.amount)|number_format_currency('EUR') }}</span></strong>

        {% if ordrMeta.adminToken == adminToken %}
        <form id="admin-check-form"
              action="{{ path('ordr_check', {'token': ordrMeta.token, 'admin': ordrMeta.adminToken, 'id': ordr.id }) }}"
              method="post" {{ form_enctype(form) }}>
          <button class="button radius {% if ordr.checked %}green{%else%}black{% endif %} small"
                  name="check-ordr"
                  id="check-ordr" type="submit"
                  value="check">
            {{ '✓' }}
          </button>
        </form>
        {% else %}
        {% if ordr.checked %}{{ '✓'|escape }}{% endif %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if otherOrdrs|length > 0 and (ordrMeta.adminToken == adminToken or ordrMeta.public) %}
    <h4>Bestellungen von anderen:</h4>
    <ul class="ordr-list">
      {% for ordr in otherOrdrs %}
      <li>
        {% if ordrMeta.adminToken == adminToken %}
        <form id="admin-delete-form"
              action="{{ path('ordr_delete', {'token': ordrMeta.token, 'admin': ordrMeta.adminToken, 'id': ordr.id }) }}"
              method="post" {{ form_enctype(form) }}>
          <button class="button radius red small"
                  name="delete-ordr"
                  id="delete-ordr" type="submit"
                  value="delete">
            {{ 'x' }}
          </button>
        </form>
        {% endif %}

        <strong>{{ ordr.username }}</strong> <span class="stamp">{{ ordr.createdAt|format_date }}</span><br/>
        bestellt {{ ordr.amount|number_format_decimal }} mal:<br/>
        {{ ordr.extra }} <span class="extra">({{ ordr.price|number_format_currency('EUR') }})</span><br/>
        <strong>für <span class="price">{{ (ordr.price * ordr.amount)|number_format_currency('EUR') }}</span></strong>

        {% if ordrMeta.adminToken == adminToken %}
        <form id="admin-check-form"
              action="{{ path('ordr_check', {'token': ordrMeta.token, 'admin': ordrMeta.adminToken, 'id': ordr.id }) }}"
              method="post" {{ form_enctype(form) }}>
          <button class="button radius {% if ordr.checked %}green{%else%}black{% endif %} small"
                  name="check-ordr"
                  id="check-ordr" type="submit"
                  value="check">
            {{ '✓' }}
          </button>
        </form>
        {% else %}
        {% if ordr.checked %}✓{% endif %}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if condensedList|length > 0 and (adminToken == ordrMeta.adminToken or ordrMeta.public) %}
    <h4>Zusammenfassung</h4>
    <ul class="condensed">
      {% set sum = 0 %}
    {% for name, item in condensedList %}
      {% set sum = sum+item.sum %}
      <li>{{ item.amount|number_format_decimal }} mal {{ item.extra }} für <span class="price">{{ item.sum|number_format_currency('EUR') }}</span></li>
    {% endfor %}
      <li class="sum"><strong>Gesamt: <span class="sum">{{ sum|number_format_currency('EUR') }}</span></strong></li>
    </ul>
    {% endif %}
  </div>
  <div id="main">
    {% if (not closed) or (ordrMeta.adminToken == adminToken) %}
    <div id="form">
      <form class="nice" action="{{ path('ordr_create', {'token': ordrMeta.token}) }}"
            method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_widget(form.username, {'id':'name', 'attr':{'placeholder' : 'Dein Name'|trans, 'autocomplete':'off'}})
        }}
        {{ form_errors(form.username) }}

        {{ form_widget(form.extra, {'id':'extra', 'attr':{'placeholder' : 'Beschreibung'|trans, 'autocomplete':'off'}})
        }}
        {{ form_errors(form.extra) }}

        {{ form_widget(form.amount, {'id':'amount', 'attr':{'placeholder' : 'Menge'|trans, 'autocomplete':'off'}}) }}
        {{ form_errors(form.amount) }}

        {{ form_widget(form.price, {'id':'price', 'attr':{'placeholder' : 'Einzelpreis'|trans, 'autocomplete':'off'}}) }}
        {{ form_errors(form.price) }}

        {{ form_rest(form) }}
        {% if ordrMeta.adminToken == adminToken %}
        <input type="hidden" name="admin" value="{{ ordrMeta.adminToken }}">
        {% endif %}
        <button class="button radius" id="add-ordr" type="submit" value="save">{{ 'Eintragen'|trans }}</button>
      </form>
      <form id="revert-one-form" class="nice"
            action="{{ path('ordr_revert', {'token': ordrMeta.token}) }}?XDEBUG_SESSION_START=13373"
            method="post" {{ form_enctype(form) }}>
        <button {% if hasOrdrs == 'no' %} style="display: none;" {% endif %} class="button radius red"
                                          name="revert-one-ordr"
                                          id="revert-one-ordr" type="submit"
                                          value="revert">{{ 'Rückgängig machen'|trans }}
        </button>
        {% if ordrMeta.adminToken == adminToken %}
        <input type="hidden" name="admin" value="{{ ordrMeta.adminToken }}">
        {% endif %}
      </form>
      <form id="revert-all-form" class="nice"
            action="{{ path('ordr_revert', {'token': ordrMeta.token}) }}"
            method="post" {{ form_enctype(form) }}>
        <button {% if hasOrdrs == 'no' or ownOrdrs|length < 2 %} style="display: none;" {% endif %}
                                                                 class="button radius red small"
                                                                 name="revert-all-ordrs"
                                                                 id="revert-all-ordrs" type="submit"
                                                                 value="revert">{{ 'Alles rückgängig machen'|trans }}
        </button>
        {% if ordrMeta.adminToken == adminToken %}
        <input type="hidden" name="admin" value="{{ ordrMeta.adminToken }}">
        {% endif %}
      </form>
    </div>
    {% else %}
      Bestellungen können jetzt nichtmehr berücksichtigt werden!
    {% endif %}
  </div>
</div>
{% endblock %}
{% block help %}
<div class="helptext hide-on-phones">
  {{ 'show.helptext'|trans }}
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  $(function () {
    $("#extra").autocomplete({
      source: function ( request, response ) {
        $.ajax({
          url: "{{ path('api_complete_extra', {'token': ordrMeta.token}) }}",
          dataType: "json",
          data: {
            extraStartsWith: request.term
          },
          success: function ( data ) {
            response($.map(data.extras, function ( item ) {
              return {
                label: item.label + " (" + item.localePrice + ")",
                value: item.value,
                price: item.price
              }
            }));
          }
        });
      },
      select: function (event, ui) {
        $("#price").val(ui.item.price);
      },
      minLength: 2
    });
  });
</script>
{% endblock %}