<h1>OrdrMeta list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Next_ordr</th>
            <th>Token</th>
            <th>Admin Token</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('admin_ordrmeta_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{% if entity.nextordr %}{{ entity.nextordr|date('Y-m-d H:i:s') }}{% endif%}</td>
            <td>{{ entity.token }}</td>
            <td>{{ entity.adminToken }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_ordrmeta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_ordrmeta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('admin_ordrmeta_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
