{% block field_widget %}
{% spaceless %}
{% set type = type|default('text') %}
<input class="input-{{ type }}" type="{{ type }}" {{ block('widget_attributes') }}
       {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock field_widget %}

{% block datepicker_widget %}
{% spaceless %}
<input class="input-date input-text" type="text" {{ block('widget_attributes') }}
       {% if value is not empty %}value="{{ date_pattern|replace({'{{ year }}': form.year}) }}" {% endif %}/>
{% endspaceless %}
{% endblock datepicker_widget %}

{% block date_widget %}
{% spaceless %}
{% if widget == 'single_text' %}
<input class="input-date input-text" type="text" {{ block('widget_attributes') }}
       {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% else %}
<div {{ block('widget_container_attributes') }}>
  {{ date_pattern|replace({
                 '{{ year }}':  form_widget(form.year),
                 '{{ month }}': form_widget(form.month),
                 '{{ day }}':   form_widget(form.day),
             })|raw }}
</div>
{% endif %}
{% endspaceless %}
{% endblock date_widget %}